streamlit==1.50.0
streamlit-extras==0.7.8
streamlit-option-menu==0.4.0
streamlit-card==1.0.2
prettytable==3.8.0
pandas==2.3.3
requests==2.32.5
openai==2.14.0
joblib==1.5.1
numpy==1.24
scikit-learn==1.2.2
tabpfn==2.2.1
